<div class="container my-4">
    <button class="btn btn-link" (click)="goBack()">Back</button>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Salesman name</th>
                <th scope="col">Total Comission</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sale of salesmans">
                <td scope="row">{{sale.salesman}}</td>
                <th scope="row">{{sale.totalCommission}}</th>
            </tr>
        </tbody>
    </table>
</div>