<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title text-center">Sign Up</h3>
        </div>
        <div class="card-body">
          <div class="container mt-5">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input id="username" formControlName="username" type="text" class="form-control"
                  [ngClass]="{'is-invalid': isFieldInvalid('username')}">
                <div *ngIf="isFieldInvalid('username')" class="invalid-feedback">
                  Username is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input id="email" formControlName="email" type="email" class="form-control"
                  [ngClass]="{'is-invalid': isFieldInvalid('email')}">
                <div *ngIf="isFieldInvalid('email')" class="invalid-feedback">
                  Enter a valid email.
                </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input id="password" formControlName="password" type="password" class="form-control"
                  [ngClass]="{'is-invalid': isFieldInvalid('password')}">
                <div *ngIf="isFieldInvalid('password')" class="invalid-feedback">
                  Password must be 8-12 characters long and contain at least one uppercase letter.
                </div>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                  [ngClass]="{'is-invalid': isFieldInvalid('confirmPassword')}">
                <div *ngIf="isFieldInvalid('confirmPassword')" class="invalid-feedback">
                  Passwords must match.
                </div>
              </div>
              <button type="submit" class="btn btn-primary w-100" [disabled]="signupForm.invalid">Register</button>
            </form>
          </div>

          <p class="text-center my-2 signInText">
            Don't have an account <b><a routerLink="/login">Sign In</a></b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>